* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
   
}

.container {
    background: url(img/yosemite2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}

.explore {
    background: linear-gradient(0.25turn, #4d6961, #3b3b3b );
    background-color: black;
    padding-bottom: 15px;
}
.exploreFlex {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-top: 10px;
}

.exploreText {
    margin-left: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.nav {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    color: white;
    font-size: 1.3rem;
    margin-right: 3rem;   
}

.nav h3 {
    transition: all .2s ease-in;

}
.nav h3:hover {
    cursor: pointer;
    color: rgb(81, 192, 81);
}

.searchTitle {
    color: white;
    text-align: center;
    margin-top: 5rem;
    font-size: 1.8rem;
}
.searchBar {
    text-align: center;
    margin-top: 2rem;
}
.searchBar #searchInput {
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 15px;
    font-size: 1.3rem;
    border: none;
    width: 600px;
}
.searchBar .fas {
    color: white;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.popularTrails {
    max-width: 560px;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.popularTitle {
    color: white;
    margin-top: 5rem;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.cardFlex {
    display: flex;
    gap: 30px;
}

.card {
    /* Change background color */
    background-color: rgb(255, 255, 255);
    
    /* Add space between the border and the content */
    padding: 8px;
  
    border-radius: 12px;
    color: white;
    transition: transform 1s ease;
  }
  .card:hover {
      transform: scale(1.02);
      cursor: pointer;
  }

.card img {
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
    border: none;
    width: 400px;
}

.tag {
    padding: 4px 8px;
    border: 1px solid #027c02;
  
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
  }
  .ratingsFlex {
      display: flex;
      gap: 5px;
  }
  .stars {
    color: rgb(255, 217, 0);
  }
  .reviewCount {
      color: black;
  }
  .name {
    font-size: 24px;
    font-weight: 600;
    color: rgb(45, 173, 6);
    margin-top: 16px;
  }
  p {
    font-size: 14px;
    color: #000000;
    line-height: 150%;
  }
  .card__details {
    padding: 16px 8px 8px 8px;
  }